* {
	font-family: Arial,sans-serif;
    font-size: 14px;
}
.nav__item--app {
    height: 30px;
    width: 30px;
    position: relative;
}
a {
	text-decoration: none !important;
	color: #5F6368 !important;
}
.nav__item--app svg {
    width: 17px;
    height: 17px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    fill: var(--color-gray-500);
}
.middle {
	flex: 1;
	margin-top: 30px;
}
.middle-content {
	padding-top: 109px;
}
.input-box {
	margin-top: 45px;
}
.form-control {
   border-radius: 2em !important;
}
.input-group {
	border: 1px lightgray solid;
	border-radius: 2em;
}
.input-group:hover {
    color: #495057;
    background-color: none !important;
    border-color: gray !important;
    outline: 0;
    box-shadow: none !important;
}
.form-control:focus {
    color: #495057;
    background-color: none !important;
    border-color: gray !important;
    outline: 0;
    box-shadow: none !important;
}
.input-group:hover {
	box-shadow: 0 0 8px lightgray !important;
}
.form-control {
	border: none !important;
}
.buttons {
	margin-top: 35px;
}
button.btn.btn-lg {
    background: #f2f2f2;
    color: #5F6368;
    padding: 0 16px;
    font-family: Arial,sans-serif;
    font-size: 14px;
    height: 36px;
}
button.btn.btn-lg:hover {
    background: #f2f2f2;
    color: black;
    border: 1px darkgray solid;
}